  body {
    background-color: #D3DEDC;
  }
  hr {
    border-color: #B3541E;
    border-style: dotted none none;
    height: 10px;
    width: 25%;
    border-width:5px;
  }
  h1 {
    color: #461111;
      font-family: "Copperplate", Fantasy;
      text-align: center;
      width: auto;
  }
  h3 {
    color: #461111;
      font-family: "Copperplate", Fantasy;
      text-align: center;
      width:auto;
  }
  p {
    color: #040303;
      font-family: "Papyrus", Fantasy;
      text-align: center;
      width: auto;
  }
table {
  color: #040303;
    font-family: "Papyrus", Fantasy;
    text-align: center;
    width:auto;
}
a {
      font-family: "Papyrus", Fantasy;
      text-align: center;
      width:auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;

}

.center {
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}
body {
  text-align:center;
}
